.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  border: none;
  cursor: pointer;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
